<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <properties>
        <property name="LOG_HOME">E:/logs</property>
    </properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                pattern="[ %p ] %-d{yyyy-MM-dd HH:mm:ss} [%l] %m%n" />
        </Console>
        <RollingFile name="DailyRollingFile"
            fileName="${LOG_HOME}/sharp-service.log" filePattern="${LOG_HOME}/sharp-service-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="[ %p ] %-d{yyyy-MM-dd HH:mm:ss} [%l] %m%n" />
            <TimeBasedTriggeringPolicy interval="1" modulate="true" />  
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console" />
            <AppenderRef ref="DailyRollingFile"/>
        </Root>
    </Loggers>
</Configuration>